
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="~/css/CustomTable.css" rel="stylesheet" type="text/css" />
</head>

<h2 style="text-align:center">Distances</h2>

<a asp-controller="Distances" asp-action="Create">Create new distance</a>

<div class="row justify-content-center">
	<table>
		<tr>
			<th>Id</th>
			<th>FromPointId</th>
			<th>ToPointId</th>
			<th>Weight</th>
			<th>UserId</th>
			<th>Action</th>
		</tr>
		@foreach (var distance in ViewBag.Distances)
		{
			<tr>
				<td>@distance.Id</td>
				<td>@distance.FromPointId</td>
				<td>@distance.ToPointId</td>
				<td>@distance.Weight</td>
				<td>@distance.UserId</td>
				<td>
					@Html.ActionLink("Update", "Edit", new { Id = distance.Id }) |
					@Html.ActionLink("Delete", "Delete", new { Id = distance.Id })
				</td>
			</tr>
		}
	</table>
</div>